[Desktop Entry]
Type=Application
Name=Transkribera
Comment=Play audio and view its waveform
Exec=transkribera
Icon=io.github.staffanberglund.transkribera
Terminal=false
Categories=AudioVideo;Audio;
Keywords=audio;transcription;waveform;
StartupNotify=true
